/1.PNG
/2.PNG
/3.PNG
/desktop.ini
/index.html
/Microsoft Teams.lnk
/Microsoft VS Code
/WhatsApp.lnk
/Zoom.lnk
/א.jpg
/אופיס.txt
/אליה פורים
/אסלן.PNG
/בדידה 2
/בסיסי נתונים
/ברית אמנו-769.jpg
/גונן.jpg
/דף ראשי.docx
/הדרכות סקולי .xlsx
/העברה.PNG
/חדש.xlsx
/טבלת הספק
/לוז אוקטובר.PNG
/לימודים
/מבנה נתונים
/מייל.rtf
/מלה מוטורס
/מסמכים חשובים
/מעקב הדרכות.xlsx
/ניסוי.xlsx
/נסיעות ספטמבר.xlsx
/פורטוקול על ראוטר.PNG
/קובץ סקולי חכם.xlsx
/רימון חדש.jfif
/רימון.jfif
/רפאל
/רשימת תפוצה להדרכות.xlsx
/שאלה 10.PNG
/שאלה 11.PNG
/שאלה 12.PNG
/שאלה 9.PNG
/שיעורים מורנו ורבנו
/תמונה1.png
/תקציבים
/תשלום מכללה.pdf
/‏‏לכידה.PNG
