
.logo{
    position: absolute;
    top:0px;
    right:  500px;
    width: 30%;
    direction: rtl;    
}

.tafrit{
    position: absolute;
    top:300px;
    right:  500px;
    width: 1500%;
    height: 5%;
    direction: rtl;    
}