.sp_0o3cAkeCr3H_1_5x{background-image:url(/rsrc.php/v3/yS/r/n7rAas0OuBu.png);background-size:18px 18px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_0o3cAkeCr3H_1_5x.sx_21ad93{background-position:0 0}

#bootloader_tW2cS{height:42px;}.bootloader_tW2cS{display:block!important;}